body {
    font-family: 'Segoe UI';
}


/* Navbar Style */

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.navbar-collapse {
    padding: 0 5rem;
}

.navbar-dark {
    background: #0B1C29 !important;
}

.nav-link {
    color: #D1D1D1 !important;
    font-size: 1rem;
    margin: 0 1rem;
    width: 100%;
    text-align: center !important;
}

.nav-link .fa-bell {
    transform: rotate(20deg);
}

.nav-link i {
    font-size: 1.5rem;
}

.nav-user {
    background-color: #142F43;
    padding: 2rem;
}

.nav-user i {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar-toggler {
    margin: 1rem;
}


/* First Screen Style */

.section-1 {
    background-image: url(../assets/img1.png);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1-text {
    width: 60%;
    padding: 3rem 2rem 3rem 5rem;
    background: rgba(255, 255, 255, .79) 0% 0% no-repeat padding-box;
    color: #000000;
}

.sec1-text h1 {
    font-size: 5rem;
    font-weight: bold;
}

.sec1-text .btn {
    height: 4rem;
    background-color: #142F43;
    font-weight: 600;
    margin-top: 1rem;
}

.section-1 .btn {
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0;
}

.section-1 .btn i {
    margin-left: 4rem;
}


/* Courses Screen style */

.section-2 {
    background-color: #0B1C29;
    padding: 4.5rem;
}

.section-2 .input-group {
    background-color: #16222D;
    border: 1px solid #CBCBCB;
    height: 4rem;
}

.section-2 .input-group-text {
    transform: rotateY(180deg);
    margin-left: 2rem;
}

.section-2 .input-group-text,
.section-2 .form-control {
    background-color: transparent;
    border: none;
    color: #CBCBCB;
    font-size: 1.2rem;
}

.section-2 .form-control:focus {
    box-shadow: none !important;
}

.section-2 ::placeholder {
    color: #CBCBCB;
    opacity: 1;
}

.section-2 .title {
    margin-top: 4rem;
    color: #ffffff;
    font-size: 3.5rem;
}

.section-2 .card {
    background-color: transparent;
    box-shadow: 1px 7px 9px #0000005E;
    border: 1px solid #C1C1C1;
    height: 22rem;
}

.section-2 .card .card-body {
    color: #EBEBEB;
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
}